<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648041623164-r2fflvikdn4i55nk8ngdi2h7itsuoljo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648041623164-r2fflvikdn4i55nk8ngdi2h7itsuoljo</string>
	<key>API_KEY</key>
	<string>AIzaSyDqq74GsqA_rJKSq_b-yNkVjgIdVjAD1Q0</string>
	<key>GCM_SENDER_ID</key>
	<string>648041623164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authentest170</string>
	<key>PROJECT_ID</key>
	<string>fir-test-170</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-170.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648041623164:ios:d5d33a12328c989b1fe3f9</string>
</dict>
</plist>